

.background {
    width: 100%;
    height: 100%;
}

.profiles_container {

    padding-left: 10%;
    padding-right: 10%;   
}

.profile_container {
    width: 30%;
    height: 600px;
    background: grey;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2.5%;
}

.profile_photo {
    width: 50%;
    border-radius: 50%;
}

.profile_name {

}

.spencer {
    float: left;
}

.john {
    position: relative;
    left: 5%;
}

.noah {
    float: right;
}